[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider
.vs/
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj

# Unity cache
PackageCache/
D:\Travail\2eme_annee\ReVerso\ReVerso\Reverso_Patient\Assets\RD\Scripts\Session\README.md
\Reverso_Patient\Assets\RD\Scripts\Session\README.md
Assets\RD\Scripts\Session\README.md